<h1 mat-dialog-title>{{ isUpdate ? 'Modifier une ville' : 'Ajouter une ville' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="cityForm">
    <mat-form-field *ngIf="!isUpdate">
      <mat-label>Nom de la ville</mat-label>
      <input matInput formControlName="cityName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Url de la ville</mat-label>
      <input matInput formControlName="imageUrl">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Non</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Ok</button>
</div>
