<div class="carousel">
  <div *ngFor="let item of city" class="carousel-item">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ item.id }}</mat-card-title>
        <!--Coeurs-->
        <button mat-mini-fab (click)="updateLikes(item)" color="warn"
          aria-label="Example icon button with a heart icon">
          {{item?.likes}}
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-header>
      <img mat-card-image [src]="item.img" alt="Image {{ item.id }}">
      <mat-card-actions>

        <!--Modifier-->
        <button mat-icon-button (click)="sendItemUpdate(item)" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>

        <!--Supprimer-->
        <button mat-icon-button (click)="deleteItem(item)" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>

        <!--Téléchargement-->
        <button mat-icon-button (click)="downloadImage(item)" color="primary"
          aria-label="Example icon button with a home icon">
          <mat-icon>download</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
