<header class="header">
  <h1>Inscription</h1>
</header>

<div class="form-container">
  <form class="my-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="label">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="label">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
        <li>Le mot de passe doit être d'au moins 8 caractères de long.
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
       <li>Le mot de passe doit contenir au moins une lettre minuscule.</li>
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
        <li>Le mot de passe doit contenir au moins une lettre majuscule.</li>
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
        <li>Le mot de passe doit contenir au moins un chiffre.</li>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="label">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="accent">S'inscrire</button>
    <p class="link">Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
  </form>
</div>